
//Background Color
$b-0:#484848;
$b-a:#242424;
$b-b:#2D2D2D;
$b-c:#2A2A2A;
$b-d:#1E1E1E;
$b-e:#191919;
$b-f:#131313;
$b-g:#0E0E0E;
$b-h:#060606;

//Deffrent color
$out-1:#DF4444; //Red
$out-2: #7ED321; //Green


//Border
$border-1:#373737;
$border-2:#2D2D2D;


//Font Color
$f-0:#8B8B8B;
$f-a:#9E9E9E;
$f-b:#DF4444;
$f-title:#FFFFFF;
$activ-f-a:#FFFFFF;
$activ-f-b:#DF4444;

